*{
    padding: 0;
    margin: 1;
    box-sizing: border-box;
}

body{

 
   /*  background-image:radial-gradient(circle, red , yellow , purple );
    ; */

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(154,15,21,1) 4%, rgba(249,182,0,1) 45%, rgba(49,35,167,1) 100%););

   /*  background-image: url(https://storage.googleapis.com/sealpolen-files.polinizador.com.br/blob/ongs/ong-instituto-da-oportunidade-social-capa.png); */
 
    /* background-attachment:fixed; */

/* background-repeat:no-repeat; */

background-size:cover;

/* background-clip:; */

/* background-position:center; */

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;

}

h1{
    text-align: center;
margin-bottom: 3%;
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
text-transform: uppercase;
background-color: floralwhite;

}

h2{
    text-transform: uppercase;
    margin-bottom: 3%;
    background-color: rgb(219, 219, 207);
text-align: center;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
text-align: justify;
margin-bottom: 2%;
text-indent: 100px;

}

img{
    width: 500px;
    
   

}
footer{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

